@using SE.Model.ViewModels
@model IEnumerable<UserViewModel>
@{
    int totalUsersCount = 0;
}

<table id="Materials" class="table table-hover" style="margin-top:10px">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">IsConfirmed</th>
        </tr>
    </thead>
    <tbody id="MaterialsBody">
        @foreach (var user in Model)
        {
            totalUsersCount++;
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.IsConfirmed</td>
            </tr>
        }
    </tbody>
</table>
<hr />
<label style="font-size: 20px;">Количество: <span id="totalUsersCount">@totalUsersCount</span></label>