@model SE.Model.ViewModels.MaterialsCollectionViewModel
@using SE.Common
@inject SE.BLL.Interfaces.IUserService userService;
@{
    ViewData["Title"] = "Личный кабинет";
    var isAuthenticated = false;
    var isAdmin = false;
    var userId = Guid.Empty;
    string name = String.Empty;
    string surname = String.Empty;

    if (User.Identity.IsAuthenticated && await userService.IsExists(User.Identity.Name))
    {
        isAuthenticated = true;
        isAdmin = userService.GetRole(User.Identity.Name).Equals("Admin");
        var user = await userService.GetUserByEmail(User.Identity.Name);
        name = user.Name;
        surname = user.Surname;
        userId = user.UserId;
    }
}
<section class="banner">
    <div class="position-center-center">
        <div class="container">
            <h4>Личный кабинет</h4>
        </div>
    </div>
</section>

<div class="container-fluid">

    <section class="container-fluid content">
        <div class="row">
            <div class=" welcome col-sm-12 col-md-12 col-lg-12 ">
                <h4>Добро пожаловать, <span>@(isAuthenticated ? @surname + " " + @name : "Дорогой пользователь")</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="wrap_dop_info col-sm-12 col-md-3 col-lg-3">
                <a href="~/Material/NewMaterial"><h5> Новый материал </h5></a>
                <h5>Мои публикации</h5>
                <ul>
                    <li>
                        <div class="dop_info">
                            <select name="MaterialStatus" asp-items="Html.GetEnumSelectList<Enums.MaterialStatus>()" onchange="SearchMyMaterials()" class="form-control"></select>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="wrap_main_info col-sm-12  col-md-9 col-lg-9">

                <div class="wrap_sort">
                    <p class="sort_text">Сортировать:</p>
                    <select name="SortType" asp-items="Html.GetEnumSelectList<Enums.SortType>()" onchange="SearchMyMaterials()" class="form-control"></select>
                </div>
                <div name="materials" class="row wrap_items">
                    @foreach (var material in Model.Materials)
                    {
                        <div class="info_item">
                            <div class="wrap_img_item">
                                <a href="/Material/MaterialDetail?id=@material.Id">
                                    @if (material.Base64Picture.Length < 10)
                                    {
                                        <img src="~/images/noimage.png" />
                                    }
                                    else
                                    {
                                        <img src="data:image/jpeg;base64,@material.Base64Picture" />
                                    }
                                </a>
                            </div>
                            <a href="/Material/MaterialDetail?id=@material.Id" class="item_text">@material.Name.ToString()</a>
                            <div class="row">
                                <div class="col-6">Рейтинг: @material.Rating</div>
                                <div class="col-6">Кол-во скачиваний: @material.DownloadsCount</div>
                            </div>
                            <div class="row" style="text-align:center">
                                <div style="width: 50%; margin: 0 auto;">
                                    @if (material.Status == Enums.MaterialStatus.Published || material.Status == Enums.MaterialStatus.OnModeration)
                                    {
                                        <a href="/Material/DeleteMaterial?id=@material.Id" class="btn btn-danger">Delete</a>
                                    }
                                    else if (material.Status == Enums.MaterialStatus.Deleted)
                                    {
                                        <a href="/Material/RestoreMaterial?id=@material.Id" class="btn btn-success disabled">Restore</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <h4 name="materilasInfo" hidden>Нет материалов</h4>
                <label hidden id="totalCount">@Model.TotalCount</label>
            </div>
        </div>
    </section>
</div>

<script>
    window.onload = function () {
        if ($('#totalCount').text() == 0) {
            $('div[name="materials"]').attr("hidden", true);
            $('h4[name="materilasInfo"]').removeAttr('hidden');
        }
    };

    function DownloadMaterial(id) {
        $.ajax({
            type: "GET",
            url: '/Material/DownloadMaterial?id=' + id,
            success: function (data) {

            }
        });
    };

    function SearchMyMaterials() {
        var sortType = $('select[name="SortType"]').val();
        var materialStatus = $('select[name="MaterialStatus"]').val();
        $.ajax({
            type: "POST",
            url: '/Home/PersonalAccount',
            data: {
                SortType: sortType,
                MaterialStatus: materialStatus
            },
            success: function (data) {
                pageNum = data.page;
                $('#totalCount').text(data.totalCount);
                if (data.totalCount === 0) {
                    $("#showMore").attr("hidden", true);
                    $('div[name="materials"]').attr("hidden", true);
                    $('h4[name="searchResult"]').removeAttr('hidden');
                }
                else {
                    $('h4[name="searchResult"]').attr("hidden", true);
                    $('div[name="materials"]').removeAttr('hidden');
                    $('div[name="materials"]').empty();
                    $.each(data.materials, function () {
                        $('div[name="materials"]').append(
                            `<div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="/Material/MaterialDetail?id=`+ this.id + `">`
                            + (this.base64Picture.length <= 10 ?
                                `<img src="/images/noimage.png" />` :
                                `<img src="data:image/jpeg;base64,` + this.base64Picture + `" />`) + `
                                    </a>
                                </div>
                                <a href="/Material/MaterialDetail?id=`+ this.id + `" class="item_text">` + this.name + `</a>
                                <div class="row">
                                    <div class="col-6">Рейтинг:`+ this.rating + `</div>
                                    <div class="col-6">Кол-во скачиваний:  `+ this.downloadsCount + `</div>
                                </div>
                                <div class="row" style="text-align:center">
                                    <div style="width: 50%; margin: 0 auto;">`
                            + (this.statusString == "На модерации" ?
                                `<a href="/Material/DeleteMaterial?id=` + this.id + `" class="btn btn-danger">Delete</a>` : "")
                            + (this.statusString == "Удалено" ?
                                `<a href="/Material/RestoreMaterial?id=` + this.id + `" class="btn btn-success disabled">Restore</a>` : "") + `
                                    </div>
                                </div>
                            </div>`
                        );
                    });
                    if (totalCount == 0) {
                        $('h4[name="materilasInfo"]').attr("hidden", true);
                    }
                }
            }
        });
    }
</script>
