@model SE.Model.ViewModels.MaterialViewModel;
@inject SE.BLL.Interfaces.IUserService userService;

@{
    ViewData["Title"] = "Информация о материале: «" + Model.Name + "»";
    var isAuthenticated = false;
    var isAdmin = false;
    var userId = Guid.Empty;

    if (User.Identity.IsAuthenticated && await userService.IsExists(User.Identity.Name))
    {
        isAuthenticated = true;
        isAdmin = userService.GetRole(User.Identity.Name).Equals("Admin");
        var user = await userService.GetUserByEmail(User.Identity.Name);
        userId = user.UserId;
    }
}

<main class="cd-main-content">
    <div id="content">
        <section class="padding-top-100 padding-bottom-100">
            <div class="container">
                <div class="material-detail">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-md-5">
                            @if (Model.Base64Picture.Length < 10)
                            {
                                <img class="img-responsive" src="~/images/noimage.png" />
                            }
                            else
                            {
                                <img class="img-responsive" src="data:image/jpeg;base64,@Model.Base64Picture" />
                            }
                        </div>
                        <div class="col-md-5">
                            <h4>@Model.Name</h4>
                            <h5>@Model.AuthorName @Model.AuthorSurname</h5>
                            <ul class="item-owner">
                                <li>Тема:<span> <a href="~/Material/EducatorsMaterials?theme=@((int)Model.Theme)"> @Model.ThemeString </a></span></li>
                                <li>Тип: <span> @Model.TypeString </span></li>
                                <li>Рейтинг: <span id="ratingValue" style="font-size:20px"> @Model.Rating</span><span style="font-size:20px; color: gold;">★</span> </li>
                            </ul>
                            <div class="some-info">
                                @if (isAuthenticated)
                                {
                                    <ul class="row ">
                                        <li class="col-sm-5" style="max-width:200px;"> <a onclick="DownloadMaterialDetails('@Model.Id')" href="@Model.DownloadingLink" class="btn" target="_blank">Скачать</a> </li>
                                        <li class="col-sm-7 rating-area">
                                            <input type="radio" id="star-5" name="rating" value="5">
                                            <label for="star-5" title="Оценка «5»"></label>
                                            <input type="radio" id="star-4" name="rating" value="4">
                                            <label for="star-4" title="Оценка «4»"></label>
                                            <input type="radio" id="star-3" name="rating" value="3">
                                            <label for="star-3" title="Оценка «3»"></label>
                                            <input type="radio" id="star-2" name="rating" value="2">
                                            <label for="star-2" title="Оценка «2»"></label>
                                            <input type="radio" id="star-1" name="rating" value="1">
                                            <label for="star-1" title="Оценка «1»"></label>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="row ">
                                        <li class="col-sm-5 "> <a class="btn bg-danger disabled">Скачать</a> </li>
                                        <li name="linkToAuth" class="col-sm-7"> Для того чтобы скачать материал, <a href="~/Account/Login">войдите в аккаунт</a> </li>
                                    </ul>
                                }
                            </div>
                        </div>
                        <div class="col-1"></div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-lg-10 item-decribe">

                        <div class="tab-info">
                            <button class="tablinks" onclick="openCity(event, 'Описание')" id="defaultOpen">Описание</button>
                            <button class="tablinks" onclick="openCity(event, 'Информация')">Информация</button>
                        </div>

                        <div id="Описание" class="tabcontent">
                            <h3>Описание</h3>
                            <p class="description-p">
                                @Model.Description
                            </p>
                        </div>

                        <div id="Информация" class="tabcontent">
                            <h3>Использованные источники</h3>
                            <p class="description-p">
                                @Model.SourceOfInformation
                            </p>
                        </div>

                    </div>
                    <div class="col-1"></div>
                </div>
                   
                    <!--======= комментарии=========-->
                    <div class="margin-top-30">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="comments col-lg-10">

                                <h5 class="comments-tittle">Комментарии <span>|</span> <span id="commentsCount">@Model.Comments.Count()</span></h5>
                                <ul id="comments" class="media-list padding-left-15">
                                    <!--=======  комментарий =========-->
                                    @foreach (var c in Model.Comments)
                                    {
                                        if (c.UserId == userId || isAdmin)
                                        {
                                            <li class="media" id="@c.CommentId">
                                                <div class="media-left">
                                                    <a href="#" class="avatar"><img class="media-object img-responsive" src="~/images/avatar.png" alt=""> <br></a>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">@c.UserName @c.UserSurname<span class="pull-right"><span><i class="icon-clock primary-color"></i>@c.CommentDate</span> <i onclick="DeleteComment('@c.CommentId');" class="icon-close"></i></span> </h6>
                                                    <p class="comment-p"> @c.CommentText</p>
                                                </div>
                                                <hr>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="media" id="@c.CommentId">
                                                <div class="media-left">
                                                    <a class="avatar"><img class="media-object img-responsive" src="~/images/avatar.png" alt=""> <br></a>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">@c.UserName @c.UserSurname<span class="pull-right"><span><i class="icon-clock primary-color"></i>@c.CommentDate</span> </span> </h6>
                                                    <p class="comment-p">@c.CommentText</p>
                                                </div>
                                                <hr>
                                            </li>
                                        }
                                    }
                                </ul>
                                <!--=======  Оставить комментарий =========-->
                                <h5 class="comments-tittle">Оставить комментарий</h5>
                                <form class="padding-left-15">
                                    <ul class="row">
                                        <li class="col-sm-12">
                                            <label>
                                                <input type="hidden" id="MaterialId" value="@Model.Id" />
                                                <textarea class="form-control" id="CommentText" placeholder="Оставьте свой комментарий"></textarea>
                                            </label>
                                        </li>
                                        <li class="col-sm-12">
                                            <div class="row">
                                                <div class="col-md-12" style="text-align:center"> <text id="CommentStatus" style="font-size:larger"></text></div>
                                            </div>
                                            <div class="col-12 col-md-auto text-center">
                                                <input type="button" onclick="AddComment();" class="btn margin-top-30" value="Отправить" />
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <!-- строка закрыта-->
                    </div>
                    <!--======= КОНЕЦ комментарии=========-->
                </div>
</section>
    </div>
</main>

<script>

    window.onload = function () {
        $("input[name=rating]").click(function () {
            var id = '@Model.Id';
            var rating = this.id.toString().substring(5);
            $.ajax({
                type: "GET",
                url: '/Material/RateMaterial?id=' + id + '&rating=' + rating,
                success: function (data) {
                    $("#ratingValue").html(data);
                }
            });
        });
    };

    function DownloadMaterialDetails(id) {
        $.ajax({
            type: "GET",
            url: '/Material/DownloadMaterial?id=' + id,
            success: function (data) {

            }
        });
    };

    function AddComment() {
        $('.preloader').show();
        if (!$.trim($("#CommentText").val())) {
            $("#CommentText").attr("placeholder", "*ЭТО ОБЯЗАТЕЛЬНОЕ ПОЛЕ");
            $('.preloader').fadeOut();
            return;
        }
        if ($("#IsAuthenticated").text() == "False") {
            $("#CommentStatus").css({ "display": "" });
            $('#CommentStatus').text("Чтобы оставлять комментарии, вы должны быть авторизованы");
            $("#CommentStatus").delay(2500).fadeOut("slow");
            $('.preloader').fadeOut();
            return;
        }
        $.ajax({
            type: "POST",
            url: '/Home/AddComment',
            data: {
                MaterialId: $('#MaterialId').val(),
                CommentText: $('#CommentText').val()
            },
            success: function (data) {
                $('#comments').append(
                    `<li class="media" id="` + data.commentId + `">
                        <div class="media-left">
                            <a href="#" class="avatar"><img class="media-object img-responsive" src="/images/avatar.png" alt=""> <br></a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">`+ data.userName + ` ` + data.userSurname + `<span class="pull-right"><span><i class="icon-clock primary-color"></i>` + data.commentDate + ` </span> <i onclick="DeleteComment('` + data.commentId + `');" class="icon-close"></i></span> </h6>
                            <p class="comment-p">`+ data.commentText + `</p>
                        </div>
                        <hr>
                    </li>`
                );
                $("#CommentText").attr("placeholder", "Текст комментария");
                $("#CommentText").val("");
                CalculateCommentsCount();
            },
            complete: function () {
                $('.preloader').fadeOut()
            }
        });
    };
    function DeleteComment(commentId) {
        $('.preloader').show()
        $.ajax({
            type: "GET",
            url: '/Home/DeleteComment?commentId=' + commentId,
            success: function (data) {
                $('#' + data).remove();
                CalculateCommentsCount();
            },
            complete: function () {
                $('.preloader').fadeOut();
            }
        });
    };
    function CalculateCommentsCount() {
        $('#commentsCount').text($("li.media").length);
    };
</script>